.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  background: #eeeeee; }

body {
  font: 300 3.2vw/1.6 'MetricWeb', 'Helvetica Neue', Helvetica, Arial;
  color: #696969;
  transition: color .4s .3s ease-in;
  text-align: center; }

body, html {
  min-height: 100vh; }

header {
  background-color: white;
  padding-top: 1px;
  position: relative;
  height: 100vh; }

main {
  padding: 2em 1.25em 0; }
  main p {
    padding: 0 1em 0; }

.shows-list {
  overflow: hidden;
  padding-bottom: 1em;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto; }

.show-item {
  display: inline-block;
  margin: 2.25em 1.2em 0;
  width: 11.86em;
  min-height: 10em;
  position: relative;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.15); }
  .show-item img {
    display: block;
    width: 100%; }

.arrow_content, .arrow_top {
  position: absolute;
  overflow: hidden;
  height: 0;
  display: block;
  background: none 50%/contain no-repeat transparent;
  left: 50%; }

.arrow_content {
  bottom: -2.3em;
  background-image: url(../img/ui-arrow-downwards.png);
  width: 5.4166666667em;
  margin-left: -2.7083333334em;
  padding-top: 6em; }

.arrow_top {
  top: -4.7em;
  background-image: url(../img/ui-arrow-upwards.png);
  width: 2.8333333333em;
  margin-left: -1.4166666667em;
  padding-top: 3em; }

#main {
  padding-top: 1em; }

footer.footer {
  background-color: #777777;
  color: #eeeeee;
  margin-top: 6.3333333333em;
  display: table;
  width: 100%;
  position: relative; }
  footer.footer p {
    font-size: 1em;
    margin: 0;
    text-align: center;
    line-height: 1.3;
    vertical-align: middle;
    display: table-cell;
    padding: 1em; }
    footer.footer p span {
      display: block; }
    footer.footer p a {
      color: inherit;
      text-decoration: inherit;
      text-transform: uppercase;
      margin-top: 1em;
      display: inline-block; }
      footer.footer p a:hover {
        color: #6d2dd2; }

.privacy {
  padding: 1em; }
  .privacy p {
    font-size: 1.5em; }
  .privacy h4 {
    font-weight: 400;
    text-align: center;
    font-size: 2em; }
  .privacy > * {
    padding: 0; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.logo {
  margin: -58px 0 0 -100px;
  position: absolute;
  top: 50%;
  left: 50%; }

.nav ul {
  list-style: none; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-Black.eot");
  src: url("../fonts/MetricWeb/MetricWeb-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-BlackItalic.eot");
  src: url("../fonts/MetricWeb/MetricWeb-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-Bold.eot");
  src: url("../fonts/MetricWeb/MetricWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-BoldItalic.eot");
  src: url("../fonts/MetricWeb/MetricWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-Semibold.eot");
  src: url("../fonts/MetricWeb/MetricWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-SemiboldItalic.eot");
  src: url("../fonts/MetricWeb/MetricWeb-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-SemiboldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-Medium.eot");
  src: url("../fonts/MetricWeb/MetricWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-MediumItalic.eot");
  src: url("../fonts/MetricWeb/MetricWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-Regular.eot");
  src: url("../fonts/MetricWeb/MetricWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-RegularItalic.eot");
  src: url("../fonts/MetricWeb/MetricWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-RegularItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-Light.eot");
  src: url("../fonts/MetricWeb/MetricWeb-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-LightItalic.eot");
  src: url("../fonts/MetricWeb/MetricWeb-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-Thin.eot");
  src: url("../fonts/MetricWeb/MetricWeb-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'MetricWeb';
  src: url("../fonts/MetricWeb/MetricWeb-ThinItalic.eot");
  src: url("../fonts/MetricWeb/MetricWeb-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MetricWeb/MetricWeb-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

p {
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: 0.04em;
  margin-bottom: 0; }

h1 {
  background: url(../img/universal_kids.png) center center/auto 100% no-repeat transparent;
  color: transparent;
  margin-top: 43vh;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 2.29em; }
  h1 a {
    color: inherit;
    display: block; }

h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  margin-top: 1.25em;
  line-height: 0; }
  h2 sup {
    top: -.24em; }

h3, h4, h5 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 300;
  letter-spacing: .04em; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

.align-left {
  text-align: left; }

@media only screen and (min-width: 1024px) {
  header {
    height: 41.6666666667em; }
  body {
    font-size: 12px; }
  footer.footer {
    margin-top: 8.58em; }
    footer.footer p {
      font-size: 1.33em; }
      footer.footer p span {
        display: inline; }
      footer.footer p a:before {
        content: " | ";
        padding: 0 .6em; }
  h1 {
    line-height: 5.2833333333em;
    margin-top: 18.33em; }
  h2 {
    font-size: 3.5em;
    font-weight: 300;
    margin-top: 1.5em; }
  h3 {
    font-size: 2.66em; }
  .arrow_content {
    width: 7.5em;
    margin-left: -3.75em;
    padding-top: 8.1666666667em;
    bottom: -3.1em; }
  .arrow_top {
    width: 3.8333333333em;
    padding-top: 4.1em;
    margin-left: -1.9166665em;
    top: -6.6em; }
  p {
    font-size: 2.33em; }
  .show-item {
    margin: 2.25em 1.5em 0;
    width: 15.83em; } }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
